<header style="background-color:white"></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    <div class="col-sm-8" style="background-color:white;">
      
              <h1>翻訳APP</h1>
              <h3>翻訳完了</h3>
              <strong>ソース文章</strong>
              <p> <%= @source_text %> </p>
              <strong>ターゲット言語</strong>
              <p> <%= @target_la %> </p>
              <strong>google翻訳：</strong>
              <p> <%= @google_tra %> </p>
              <strong>Azure翻訳：</strong>
              <p> <%= @azure_tra %> </p>
              
              <a class="btn btn-primary" href="translations/new">トップへ戻る</a>
         
    </div>
    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>
<footer style="background-color:white"></footer>