<div class="contents row">
  <div class="success">
    <h3>
      翻訳完了
    </h3>
    <p>翻訳前文章</p>
    <h3> <%= @source_text %> </h3>
    <p>ターゲット言語</p>
    <h3> <%= @target_la %> </h3>
    <p>結果：google翻訳</p>
    <h3> <%= @google_tra %> </h3>
    <p>結果：Azure翻訳</p>
    <h3> <%= @azure_tra %> </h3>
  </div>
</div>
