<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron"
        style="color:#FFF; background-color:#428bca;">
        <h1> 翻訳APP </h1>
        <p>このサイトでは、Google・Microsoftの自動翻訳サービスを比較することができます。</p>
      </div>
    </div>

    <div class="col-xs-12">
      <h2 class="page-header">翻訳完了</h2>

      <div class="well well-sm">
        <h4>ソース文章</h4>
        <p> <%= simple_format @source_text %> </p>
        <h4>ターゲット言語</h4>
        <p> <%= simple_format @target_la %> </p>
      </div>
      
      <div class="well well-sm">
        <h4>Google翻訳</h4>
        <p> <%= simple_format @google_tra %> </p>
      </div>
      
      <div class="well well-sm">
        <h4>Microsoft翻訳</h4>
        <p> <%= simple_format @azure_tra %> </p>
      </div>
      
      <div style="margin: 0 0 20px 0;">
        <a href="translations/new" class="btn btn-primary btn-block">トップへ戻る</a>
      </div>

  </div>
</div>