<p>ソース文章</p>
<h3> <%= @translation.source_text %> </h3>
<p>ターゲット言語</p>
<h3> <%= @translation.target_la %> </h3>
<p>結果：google翻訳</p>
<h3> <%= @translation.google_tra %> </h3>
<p>結果：Azure翻訳</p>
<h3> <%= @translation.azure_tra %> </h3>
