<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron"
        style="color:#FFF; background-image:linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);">
        <h1> 翻訳APP </h1>
        <p>このサイトでは、Google・Microsoftの自動翻訳サービスを比較することができます。</p>
      </div>
    </div>

    <div class="col-xs-12">
      <h2 class="page-header" style="margin-top:0px;">画像アップロード完了</h2>
        
        <div>
          <%= image_tag Pic.last.image.to_s, class:"img-responsive" %>
        </div>
        
        <div>
          <label>認識した文字</label>
          <%= simple_format(Pic.last.ocr_text) %>
        </div>
        
        <%= form_tag('/translations/create2', method: :post) do %>
        
        <div class="row" style="margin-top:10px;">
          <div class="col-xs-12">
            <div class="form-group">
            <label>ターゲット言語を選択してください。</label>
            <select class="form-control" type="string" name="target_la">
              <option>英語</option>
              <option>簡体字</option>
              <option>繁体字</option>
              <option>韓国語</option>
            </select>
            </div>
          </div>
        </div>
        
        <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="翻訳スタート">
        </div>
        
      <% end %>
      
  </div>
</div>